[user]
	name = kimjihyo
	email = kimjihyo0325@gmail.com
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
